# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numeric values to represent quantities and made operations

Strings: arrays of string to represent texts

Lists: collections of items than can be mutables

Tuples: collections of items inmutables

Dictionaries: Collections of <Key,values>

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [50]:
5 * 10 + 5/5 + 5**2 + 25 - 0.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In python 2 the answer is 0 because the operation is truncated
In pythin 3 the anser is 0.6... beacause by default the result is a float value

In [5]:
2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)  => 44
    
    What is the value of the expression 4 * 6 + 5  => 29
    
    What is the value of the expression 4 + 6 * 5  => 34

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?  => 8.5

What would you use to find a number’s square root, as well as its square?

In [3]:
81 ** 0.5

9.0

In [4]:
9 ** 2

81

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [7]:
s = 'hello'
# Print out 'e' using indexing

# Code here
print(s[1])

e

Reverse the string 'hello' using indexing:

In [20]:
s ='hello'

# Reverse the string using indexing

# Code here
s = s[::-1]
s

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [21]:
s ='hello'

# Print out the

# Code here
print(s[len(s) - 1])
print(s[-1])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [31]:
list1 = [0,0,0]
list1
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)
print(list1)
print(list2)

[0, 0, 0]
[0, 0, 0]

In [5]:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [32]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [33]:
l = [3,4,5,5,6]
l.sort()
l

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [34]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [35]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [39]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not? 

=> It's not possible, because a dictionary is store by a key in any place, it´s not a sequential collection

## Tuples

What is the major difference between tuples and lists?  => Tuples are inmutable

Tuples are inmutable

How do you create a tuple? with the "(" symbol ex:

In [40]:
tu = (1, 3)
tu

(1, 3)

## Sets

What is unique about a set?  => there is not repeated elements in a set

Use a set to find the unique values of the list below:

In [41]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [46]:
# Answer before running cell => F
2 > 3

False

In [47]:
# Answer before running cell => F
3 <= 2

False

In [45]:
# Answer before running cell => F
3 == 2.0

False

In [44]:
# Answer before running cell => T
3.0 == 3

True

In [43]:
# Answer before running cell =>  F
4**0.5 != 2

2.0

Final Question: What is the boolean output of the cell block below?

In [48]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?  => F
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!